<div class="container my-5">
    <div class="card text-sm">
        <div class="card-body">
            <div class="card-title">Enter username and password</div>
            <div class="card-text">
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control form-control-sm text-sm" placeholder="username">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        <input type="password" class="form-control form-control-sm text-sm" placeholder="password">
                    </div>
                    <a href="#" class="forgot-password">forgot password</a>
                </div>
            </div>
            <button class="btn btn-warning btn-sm my-3">
                <label class="text-sm">Log In</label> 
            </button>
        </div>
    </div>

</div>
