
<div class="container my-5">
    <div class="card text-sm">
        <div class="card-body">
            <div class="card-title text-center bg-color">
                <label style="margin-top: 10px;">Enter username and password</label>
            </div>
            <form #f="ngForm" name="form" novalidate>
                <div class="card-text">
                    <div class="row">
                        <div class="col">
                            <input type="text" 
                                class="form-control form-control-sm text-sm" 
                                name="username"
                               
                                placeholder="username">
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col">
                            <input type="password" 
                                class="form-control form-control-sm text-sm" 
                                name="password"
                                
                                placeholder="password">
                        </div>
                    </div>
                </div>

                <button class="btn btn-warning btn-sm my-2 text-sm" type="submit">
                    <label class="class text-sm">Change Password</label> 
                </button>
                
                <div>
                    <label *ngIf="isBusy">Busy. Please wait...</label>
                </div>
            </form>
        </div>
    </div>
</div>

<p-toast position="top-left" key="t1"></p-toast>