<div class="container my-5 mx-5">
    <div class="card">
        <div class="card-body">
            <div class="card-title text-sm">Add Credit Card Number to validate and store</div>
            <div class="card-text">
                <form #frm="ngForm" (ngSubmit)='submit()'>
                    <input type="text" 
                           class="form-control form-control-sm"
                           name='cardnumber' />

                    <div>
                        <button class="btn btn-warning btn-sm my-2">
                            <i class="bi bi-upload mx-1"></i>
                            <label class="text-xs">Upload</label>
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>