.center{
    margin: 0 auto;
    margin-top: 0px;
}

.font-weight-light{
    font-weight: lighter;
    font-size: 11px;
    width: 10%;
    padding:0;
}

.font-weight-bolder{
    font-weight: 600;
    font-size: 12px;
    width: 5%;
    padding:0;
}

.td-height{
    height: 20px;
}

.sbutton{
    width: 45px;
    height: 25px;
}

.rbutton{
    width: 35px;
    height: 35px;
}

.ricon-margin{

    margin-left: -0px;
    margin-top: -2px;  
    height: 12px;
    width: 12px; 
}

.sicon-margin{
    margin-left:-4px;
    margin-top: -4px;
    height: 15px;
    width: 15px;
}

.offline{
    color: red;
}