<div class="row my-2">
    <div class="col-4">
        <input type="text" pInputText class="p-inputtext-sm text-sm" placeholder="provider name">
    </div>
    <div class="col-4">
        <input type="text" pInputText class="p-inputtext-sm text-sm" placeholder="delimeter (0-6)">
    </div>
    <div class="col-4">
        <input type="text" pInputText class="p-inputtext-sm text-sm" placeholder="Number of digits">
    </div>
</div>
<button pButton type="button" class="p-button-raised p-button-rounded p-button-sm p-button-warning my-2" >
    <i class="bi bi-plus-circle icon-margin"></i>    
    
</button>
  
