/* You can add global styles to this file, and also import other style files */

.text-sm{
    font-size: 13px;
}

.text-md{
    font-size: 14px;
}

.text-xs{
    font-size: 10px;
}

.text-md-italic{
    font-weight: lighter;
    font-size: 14px;
    font-style: italic;
}
