<div class="container my-5 mx-5">
    <div class="card card-lg">
        <div class="card-body">
            <div class="card-title">
                <div class="text-center my-auto bg-color">
                    <label style="margin-top: 15px;">View Card Providers</label>
                </div>
            </div>
            <div class="card-text">
                <div class="my-1">
                    <app-display-providers></app-display-providers>
                </div>
            </div>
        </div>
    </div>
</div>
