USE [master]
GO
/****** Object:  Database [RCCM]    Script Date: 02/03/2022 12:16:20 AM ******/
CREATE DATABASE [RCCM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RCCM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\RCCM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RCCM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\RCCM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RCCM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RCCM]
GO
USE [RCCM]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 02/03/2022 12:16:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CreditCardProviders]    Script Date: 02/03/2022 12:16:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreditCardProviders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Delimiter] [int] NOT NULL,
	[NrOfDigits] [int] NOT NULL,
 CONSTRAINT [PK_CreditCardProviders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02/03/2022 12:16:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](15) NOT NULL,
	[Surname] [nvarchar](30) NOT NULL,
	[Username] [nvarchar](15) NOT NULL,
	[HashedPassword] [nvarchar](120) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ValidCards]    Script Date: 02/03/2022 12:16:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ValidCards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CardNumber] [nvarchar](16) NOT NULL,
	[ProviderId] [int] NOT NULL,
 CONSTRAINT [PK_ValidCards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220221102735_AddInitialMigration', N'5.0.14')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220221115232_IncreaseMaxPasswordLengthMigration', N'5.0.14')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220221115319_AddNewUser', N'5.0.14')
GO
SET IDENTITY_INSERT [dbo].[CreditCardProviders] ON 

INSERT [dbo].[CreditCardProviders] ([Id], [Name], [Delimiter], [NrOfDigits]) VALUES (21, N'Visa', 423423, 16)
SET IDENTITY_INSERT [dbo].[CreditCardProviders] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Surname], [Username], [HashedPassword]) VALUES (1, N'Johan', N'Potgieter', N'admin', N'3dd69a4fb96448a2b8b813e3737a7157cab966b9fe8f38a6925f24d63df9abfb')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[ValidCards] ON 

INSERT [dbo].[ValidCards] ([Id], [CardNumber], [ProviderId]) VALUES (36, N'4234234654594378', 21)
INSERT [dbo].[ValidCards] ([Id], [CardNumber], [ProviderId]) VALUES (37, N'4234234654594200', 21)
INSERT [dbo].[ValidCards] ([Id], [CardNumber], [ProviderId]) VALUES (38, N'4234234654594199', 21)
SET IDENTITY_INSERT [dbo].[ValidCards] OFF
GO
/****** Object:  Index [IX_ValidCards_ProviderId]    Script Date: 02/03/2022 12:16:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_ValidCards_ProviderId] ON [dbo].[ValidCards]
(
	[ProviderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CreditCardProviders] ADD  DEFAULT ((0)) FOR [NrOfDigits]
GO
ALTER TABLE [dbo].[ValidCards]  WITH CHECK ADD  CONSTRAINT [FK_ValidCards_CreditCardProviders_ProviderId] FOREIGN KEY([ProviderId])
REFERENCES [dbo].[CreditCardProviders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ValidCards] CHECK CONSTRAINT [FK_ValidCards_CreditCardProviders_ProviderId]
GO
USE [master]
GO
