<div class="container">
    <div class="card center width">
        <div class="card-body">
            <div class="card-text">
                <p-table [value]="cards" styleClass="p-datatable-striped">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="provider" class="font-weight-bolder">Provider<p-sortIcon field="provider"></p-sortIcon></th>
                            <th class="font-weight-bolder">Credit Card Number</th>
                            <th class="font-weight-bolder">Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-card>
                        <tr>
                            <td class="font-weight-light">{{card.provider}}</td>
                            <td class="font-weight-light">{{card.cardNumber}}</td>
                            <td class="font-weight-light">
                                <button pButton type="button" 
                                        class="p-button-raised p-button-sm p-button-danger my-2 mx-1 rbutton" 
                                        pTooltip="Delete provider" 
                                        (click)="confirmDelete($event, card)" >
                                        <i class="bi bi-trash3 ricon-margin mb-2"></i>      
                                </button>
                            </td>
                        </tr>
                    </ng-template>   
                </p-table>
            </div>
        </div>
    </div>
</div>

<p-confirmPopup></p-confirmPopup>
<p-toast position="top-left" key="t1"></p-toast>