.center{
    margin: 0 auto;
    margin-top: 20px;
}

.width{
    width: 55rem;
}

.font-weight-light{
    font-weight: lighter;
    font-size: 11px;
    width: 10%;
    padding:0;
}

.font-weight-bolder{
    font-weight: 600;
    font-size: 12px;
    width: 5%;
    padding:0;
}

.td-height{
    height: 40px;
}

.rbutton{
    width: 30px;
    height: 25px;
}

.ricon-margin{
    margin-left: -7px;
    margin-top: -13px;  
    height: 0px;
    width: 0px; 
}